<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating">Número 1</ion-label>
      <ion-imput type="number"></ion-imput>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número 2</ion-label>
      <ion-imput type="number"></ion-imput>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expend="full">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expend="full">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expend="full">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expend="full">4</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>
        <div position="floating">Resposta</div>
        <ion-imput type="number"></ion-imput>
      </ion-label>
    </ion-item>
</ion-content>
